@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');
@import '_reset.css';
@import 'books.css';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #4C7D57;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: .80rem;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.project__title {
    text-align: center;
    padding: 1rem;
    color: #E6FEEb;
}

.books__search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.books__search-box {
    font-size: 1.5rem;
    color: #1E4426;
    padding: 5px;
    border: none;
}

.btn {
    font-size: 1.5rem;
    background-color: #020903;
    color: #9BC3A4;
    padding: 5px 10px;
    border: none;
}

.btn--submit {
    cursor: pointer;
}

.btn--submit:hover {
    color:#e6feeb;
    background-color:#1e4426;
}

.bookshelf__message {
    padding: 1.5rem 0;
    text-align: center;
}

.loading-message {
    position: absolute;
    bottom: 10px;
    right: 30px;
    opacity: 100%;
    animation: fade-in-fade-out 1s infinite;
}

@keyframes fade-in-fade-out {
    0% { opacity: 100% }
    45% { opacity: 20% }
    55% { opacity: 20% }
    100% { opacity: 100% }
}

@media screen and (max-width: 442px) {
    .books__search-box {
        width: 100%;
    }
    .btn {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    .container {
        width: 95%;
    }
    .books__search-box {
        font-size: 1.25rem;
    }
    .btn {
        font-size: 1.25rem;
    }
}