@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');
@import '_reset.css';
@import 'books.css';

body {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: .80rem;
}